spring-mq-demoapp-boot/src/main/resources/steffan/springmqdemoapp/api/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:steffan.springmqdemoapp:greeting"
        elementFormDefault="qualified">
    <element name="greetingRequest">
        <complexType>
            <sequence>
                <element name="name" type="string"/>
                <element name="dateTimeOfGreet" type="dateTime"/>
            </sequence>
        </complexType>
    </element>
</schema>